.content {
    padding: 40px 30px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeBtn {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.btnText {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.avatar {
    object-fit: contain;
    width: 200px;
    height: 215px;
    margin-top: 40px;
}

.title {
    color: #000000;
    font-weight: 700;
    line-height: 42px;
    font-size: 32px;
    margin-top: 20px;
}

.age {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    color: #313131;
    font-size: 16px;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    color: #313131;
    font-size: 16px;
}

.country {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    color: #313131;
    font-size: 16px;
}