.header {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
}

.subTitle {
    font-size: 20px;
}

.companyBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #188CFB;
    height: 100%;
    padding: 21px 40px;
}

.companyTitleLogo {
    height: 18px;
    object-fit: contain;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    width: 100%;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonText {
    font-weight: 600;
    font-size: 16px;
}

.userDropDown {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.signOutBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}